body {
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_2t/11027.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card {
  text-align: center;
  background: rgb(251, 5, 5);
  background: linear-gradient(
    0deg,
    rgba(89, 95, 2, 0.989) 0%,
    rgb(23, 2, 95) 100%
  );
  color: rgb(255, 253, 253);
  border: 1px solid white;
}
.card-header {
  border-bottom: 1px solid white;
  padding: 10px;
}

.card-img-top {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

#title {
  color: rgb(255, 255, 255) !important;
  padding: 10px;
  margin-top: 10px;
  background: rgb(13, 4, 187);
  background: linear-gradient(
    0deg,
    rgba(13, 4, 187, 0.9892156691778273) 0%,
    rgb(23, 236, 23) 100%
  );

  font-weight: 700;
  font-size: 2em;

  border-radius: 20px;
}
.card-header {
  color: rgb(255, 255, 255);
}

#col-container {
  padding: 20px;
}
.body-con {
  padding-top: 15px;
  font-weight: bold;
}
.img-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

button[type="submit"] {
  background-color: red !important;
  border: 0 !important;
  padding: 10px;
}
button[type="submit"]:hover {
  background-color: green !important;
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 2em;
  }
}
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
#search-bar {
  width: 50%;
  height: 60px;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 18px;
}
.input-box button {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.input-box button img {
  width: 16px;
}
